body{
    text-align:center;
}
h1{
    color:blue;
}
#visit{
    font-weight:bold;
}
.apex-btn{
    padding:12px 25px;
    background:#4a90e2;
    color:white;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pinter;
    transition:0.3s;
    text-decoration:none;
    display:inline-block;
    line-height:normal;
}